body {
  background-color: #212121;
}

html {
  overflow-x: hidden;
}

h1 {
  color: #FFFFFF;
}

.container {
  width: 100vw;
  max-width: none;
  margin: 0px;
}

.card {
  background-color: #212121;
  border: 0px;
  box-shadow: none;
}

.card:hover {
  background-color: #282828;
  border: 1px solid #FFFFFF;
  box-shadow: none;
  cursor: pointer;
}

.poster {
  width: 180px;
  height: 380px;
}

.poster-title{
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
}

.poster-date{
  color: #847F7F;
  font-weight: bold;
}

.infinite-scroll-component {
  overflow-x: hidden!important;
}