.btn-trailer {
  background-color: #cf2f2f;
}

#trailerModal .iframe {
  width: 100%;
  height: 100%;
}

#trailerModal .modal-content {
  width: 100%;
  height: 100%;
}

#trailerModal .modal-dialog {

  max-width: 1500px;
  width: 80%;
  height: 75%;
  margin: 0;
  margin: auto;
  margin-top: 50px;
}

body {
  background-color: #212121;
}

#root {
  min-height: 100vh;
}

html {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #FFFFFF;
}

p {
  color: #FFFFFF;
}

.white {
  color: #FFFFFF;
}

.container-home {
  width: 100vw;
  max-width: none;
  margin: 0px;
}

.card {
  background-color: #212121;
  border: 0px;
  box-shadow: none;
  transition: 0.5s;
}

.card:hover {
  background-color: #282828;
  /* border: 1px solid #FFFFFF; */
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,
      100%, 0.075),
    /* shadow ring 👇 */
    0 0 0 1px hsla(0, 0%, 100%, 0.075),
    /* multiple soft shadows 👇 */
    0 0.3px 0.4px hsla(0, 0%, 100%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 100%, 0.045),
    0 3.5px 6px hsla(0, 0%, 100%, 0.09);
  /* box-shadow: none; */
  cursor: pointer;
}

.poster {
  width: 180px;
  height: 380px;
}

.poster-title {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
}



.poster-date {
  color: #847F7F;
  font-weight: bold;
}

.infinite-scroll-component {
  overflow-x: hidden !important;
}

.validBtn {
  background-color: #4A2D4E;
  color: white;
}

.filters {
  background-color: #292929;
}

.validation {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.formFilter {
  width: 75%;
}

.modalFilter {
  align-content: center;
  flex-wrap: wrap;
}

.dateInput {
  width: 75%;
}

.sliderSection{
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
}

.homeSlider {
  margin-bottom: 20px !important;
}

.customSlider {
  
  overflow: auto;
  overflow-y: clip;
  overflow-x: scroll;
  touch-action: pan-x;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.customSlider > div{
  min-width: none;
  max-width: 200px;
}

.customSlider::-webkit-scrollbar {
  height: 8px;
}

.customSlider::-webkit-scrollbar-thumb {
  background: #4f4f4f;
  border-radius: 10px;
}

.customSlider::-webkit-scrollbar-thumb:hover {
  background: #6f6f6f;
}

.customSlider::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.homeSlider {
  max-width: 80%;
}

.header-actorList {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}

.header-actorList form {
  margin: auto;
}

.header-items-actors {
  text-align: center;
  margin: auto;
}

.jumbotron-homepage {
  width: 80%;
  margin: auto;
  margin-bottom: 16px;
  background-image: image-set(url(./assets/background-homepage.webp));
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.actorList {
  width: 50%;
  border: #999999 solid 1px;
  border-radius: 8px;
}

.actorListBtn {
  border-radius: 12px;
  background-color: #383838;
  cursor: pointer;
  color: white;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
}

.overley-note {
  position: absolute;
  bottom: 7.4em;
  right: 0.5em;
  height: 45px;
  width: 45px;
  background-color: #c5c5c5ce;
  border-radius: 50%;
  display: inline-block;
  border: 4px solid
}

.overley-text {
  color: black;
  font-weight: bold;
}

.siteName {
  font-size: 1.25rem;
  margin-bottom: 4px;
}

* .sort {
  position: relative;
}

.select-responsive {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-filter {
  width: 100px;
}

.modal-dialog {
  max-width: 450px;
}

.modal-content {
  background-color: #212121;
  border: white solid 1px;
}

.modal-header,
.modal-body,
.modal-footer {
  border: none;
}

.form-inscription {
  background-color: #383838;
}

.errorForm {
  color: red;
}

.dd {
  position: relative;
  display: inline-block;
}

.dd-content {
  /* display: none; */
  position: absolute;
  right: -10px;
  background-color: #383838;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding-top: 4px;
  z-index: 1;
}

/* .dd:hover .dd-content {
  display: block;
} */
.user-avatar {
  cursor: pointer;
}

.userMenuItem {
  cursor: pointer;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.userMenuItem:hover {
  background-color: #4f4f4f;

}

.bi-heart,
.bi-heart-fill {
  color: red;
  margin-top: 10px;
  margin-bottom: 3px;
  margin-left: 10px;
  margin-right: 10px;
}

.bi-heart-disabled {
  color: rgb(90, 25, 25);
  margin-top: 10px;
  margin-bottom: 3px;
  margin-left: 10px;
  margin-right: 10px;
}

.favoriteButton {
  border-radius: 12px;
  background-color: #383838;
  cursor: pointer;
}

.favoriteButton:hover {
  background-color: #4f4f4f;
}

.favoriteButton:disabled {
  cursor: not-allowed;
  border: 1px solid #999999;
  background-color: #1f1f1f;
}

.comment-section {
  background-color: #383838;
  border: #999999 solid 1px;
  margin: 10px;
  border-radius: 8px;
}

.comments-container {
  border-bottom: #999999 solid 1px;
  min-height: 113px;
}

.filmdetail-info {
  max-width: 2400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-btn {
  border-radius: 12px;
  background-color: #8f8d8d;
  cursor: pointer;
  max-height: 34px;
}

.loader-container {
  height: 70vh;
}

/* --------------- Tooltip ------------------- */

.tooltip-custom .tooltiptext {
  visibility: hidden;
  max-width: 350px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  margin-left: 5px;
  /* Position the tooltip */
  position: absolute;
  z-index: 2;
}

.tooltip-custom:hover .tooltiptext {
  visibility: visible;
}



/* --------------- Double Range CSS ------------------- */
.range_container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 2em auto;
}

.sliders_control {
  position: relative;
  min-height: 30px;
}

.form_control {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #635a5a;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}

input[type=range]::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
  -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

input[type="number"] {
  color: #8a8383;
  width: 50px;
  height: 30px;
  font-size: 20px;
  border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #C6C6C6;
  pointer-events: none;
}

.movie-credits-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.movieCreditsList{
  width: 50%;
  border: #999999 solid 1px;
  border-radius: 8px;
}

.infosSupp {
  border: none;
  border-radius: 40px;
  background: #383838;
  display: flex;
  justify-content: space-around;
  grid-auto-rows: auto;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
}

.biography{
  border: none;
  border-radius: 40px;
  background: #383838;
  display: flex;
  justify-content: space-around;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
  padding: 16px;
}

.infosSupp p {
  text-align: center;
}

.infosSupp>* {
  padding: 1rem;
}

@media (min-width:768px) {
  .infosSupp {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}